body{
  background-color: #EAF6F6;
}

hr{
  border-style: none;
  boder-top-style: dotted;
  border-color: grey
  border-width: 5px;
  width: 5%
}

img.resize {
  width:50%;
  height:50%;
}


hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:blue;
  height: 1px;
}
